<h1>Verificación de Email</h1>

<p>Hola {{ userName }}:</p>

<p>¿Está preparado para acceder a todos los activos que hemos preparado para los clientes de {{ businessName }}?</p>

<p>En primer lugar, debe completar su registro haciendo clic <a href="{{ url }}">aquí</a>.</p>

<p>Este enlace verificará su dirección de correo electrónico.</p>

<p>¡Nos vemos allí!</p>

<p>Un saludo, el equipo de {{ businessName }}.</p>
